.profile__name {
  margin-left: 0;
  margin-right: 17px;
  margin-top: 0;
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 48px;
}
@media screen and (max-width: 560px) {
  .profile__name {
    margin-left: 28px;
    margin-top: 26px;
    margin-right: 12px;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
