.profile__add-profile {
  background: url(../../../images/profile__add-profile1.png) center no-repeat;
  background-size: 22px;
  height: 50px;
  width: 150px;
  border: 2px solid white;
  border-radius: 2px;
  box-sizing: border-box;
}
.profile__add-profile:hover {
  cursor: pointer;
  opacity: 0.6;
}
@media screen and (max-width: 720px) {
  .profile__add-profile {
    height: 50px;
    width: 282px;
  }
}
@media screen and (max-width: 560px) {
  .profile__add-profile {
    margin-top: 33px;
  }
}
