.card {
  width: 282px;
  height: 361px;
  border-radius: 10px;
  overflow: hidden;
  background: #FFFFFF;
}
.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  object-position: center;
}
.card__description-container {

  display: flex;
  justify-content: space-between;
  height: 79px;
  padding-left: 21px;
  padding-right: 18px;
}
.card__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  margin-bottom: 0;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
.card__like {
  margin-top: 25px;
  margin-left: 25px;
  background: url(../../images/like.svg) center no-repeat;
  height: 19px;
  width: 30px;
  border: none;
  box-sizing: border-box;
}
.card__like:hover {
  cursor: pointer;
  opacity: 0.5;
}
